<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings xdt:Transform="Replace">
    <add name="InterfaceCoreDB" connectionString="data source=localhost;initial catalog=InterfaceProject.CoreDB;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="InterfaceMonitorDB" connectionString="data source=localhost;initial catalog=InterfaceProject.MonitorDB;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <!--自定义Redis的Key的系统前缀-->
    <add key="SysCustomPrefix" value="InterfacePj:"/>
    <!--Redis的连接字符串，例如：localhost,password=123456-->
    <add key="RedisConnect" value="localhost"/>
    <!--当前WinForm程序的自定义名称-->
    <add key="AppName" value="ReleaseApp_01"/>
    <!--存储系统日志的定时间隔s，小于0代表不执行-->
    <add key="SystemLogInterval" value="10"/>
    <!--存储请求日志的定时间隔s，小于0代表不执行-->
    <add key="RequestLogInterval" value="12"/>
    <!--加载最新笑话数据定时间隔s，小于0代表不执行-->
    <add key="JokeInfoInterval" value="864"/>
  </appSettings>
</configuration>
